.navbar-default {
  color:white;
}
.place{
  height:600px;
}
.sticky {
  position: fixed;
  top: 70px;
  width: 100%;
}
.center {
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 20px;
    color:white;
    transform: translate(-40%, -50%);
}

.transparent{
  background-image: url('images/travel2.jpg');
  width:100%;
  max-width:100%;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: auto;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    padding:15px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}
.container {
    padding: 2px 16px;
}
