{% extends 'nav.html' %}


  {% block content %}
  <div class="container-fluid">
        {% if selected %}
          {% for each,img,avg_rating in selected %}
          <a href="{% url 'client_pages2:home' id=each.id %}">
              <div class="card" style="float:left">
                <img class="card-img-top" src="{{img.url}}" style="width:100%;height:190px;">
                <div class="card-text">
                  {{avg_rating}}
                    <p>{% with ''|center:avg_rating as range %}
                        {% for i in range %}
                            <span class="fa fa-star checked"></span>
                        {% endfor %}
                    {% endwith %}

  </p>
                </div>
              </div>
            </a>
        {% endfor %}
        {% endif %}
</div>
    {% endblock %}
