<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGBa0ZLrpyDs9IZ1Y4gk0_hppyt6k1Kr4&callback=myMap"></script>
  <title>My Google Map</title>
  <style>
    #map{
      height:650px;
      width:100%;
    }
  </style>
</head>
<body>
 <div id="map"></div>
 <script> var locations=[]</script>
 {% for each in selected%}
 <script> locations.push('{{each}}')
 </script>
 {% endfor%}
      <script type="text/javascript">
      console.log(locations)
  var delay = 100;
  var infowindow = new google.maps.InfoWindow();
  var latlng = new google.maps.LatLng(17.3850, 78.4867);
  var mapOptions = {
    zoom: 15,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var geocoder = new google.maps.Geocoder();
  var map = new google.maps.Map(document.getElementById("map"), mapOptions);
  var bounds = new google.maps.LatLngBounds();

  function geocodeAddress(address, next) {
    geocoder.geocode({address:address}, function (results,status)
      {
         if (status == google.maps.GeocoderStatus.OK) {
          var p = results[0].geometry.location;
          var lat=p.lat();
          var lng=p.lng();
          createMarker(address,lat,lng);
        }
        else {
           if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT) {
            nextAddress--;
            delay++;
          } else {
                        }
        }
        next();
      }
    );
  }
 function createMarker(add,lat,lng) {
   var contentString = add;
   var marker = new google.maps.Marker({
     position: new google.maps.LatLng(lat,lng),
     map: map,
           });

  google.maps.event.addListener(marker, 'click', function() {
     infowindow.setContent(contentString);
     infowindow.open(map,marker);
   });

   bounds.extend(marker.position);

 }
 // console.log(locations)
//   var locations = [
//             //'Hydernagar,hyderabad, India',
//            //'Kompally,hyderabad, India',
//            'Bangaluru, Karnataka, India',
//            //'kukatpally,hyderabad India',
//            //'Gurgaon, Haryana, India',
//            //'Cannaught Place, New Delhi, India',
//            //'Bandra, Mumbai, India',
//            //'Nainital, Uttranchal, India',
//            //'Guwahati, India',
//            //'West Bengal, India',
//            //'Jammu, India',
//            //'Kanyakumari, India',
//            //'Kerala, India',
//            //'Himachal Pradesh, India',
//            //'Shillong, India',
//            //'Chandigarh, India',
//            //'Dwarka, New Delhi, India',
//            //'Pune, India',
//            //'Indore, India',
//            //'Orissa, India',
//            //'Shimla, India',
//            //'Gujarat, India'
//   ];
console.log(locations[0])
  var nextAddress = 0;
  function theNext() {
    if (nextAddress < locations.length) {
      setTimeout('geocodeAddress("'+locations[nextAddress]+'",theNext)', delay);
      nextAddress++;
    } else {
      map.fitBounds(bounds);
    }
  }
 theNext();
</script>

</body>
</html>
